button {
    /* https://pt.stackoverflow.com/questions/278978/como-centrar-texto-de-botao-verticalmente */
    width: 120px;
    height: 20px;
}
 .task {
    background-color: white;
}

.grayMarked {
    background-color: rgb(128, 128, 128);
}
.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}
